body {
  background-image: url(./../public/images/IsaacBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

.label-style {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  /* justify-content: space-evenly; */
  /* justify-items: center; */
  align-items: center;
  padding: 10px 0;
  text-align: center;
  width: 80%;
  margin: 0 auto
}

.image-style {
  width: 100px;
  height: auto;
  image-rendering: pixelated;
  margin: 10px 0px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.win-style {
  width: 600px;
  height: 450px;
  padding: 40px;

  background-image: url(./../public/images/IsaacWinBackground.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
