body {
  background-image: url(./../public/images/IsaacBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

.label-style {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto;
  align-items: center;
  width: 80%;
}

.image-style {
  width: 100px;
  height: auto;
  image-rendering: pixelated;
  margin: 10px 0px;
}
